## generic files to ignore
*~
*.DS_Store
**/*/.DS_Store
*.swp
*.out
*.pyc
*.pyo
*.ywzioc
#.*
__pycache__


# VSCode stuff
.favorites.json
workspace.code-workspace
.vscode 

venv/**
lint_all/build/**
**/*egg-info/**